<div class="footer-container container">
    <p class="footer-text">
      &#169; 2023 | All Rights Reserved |
      <br class="footer-gap" />
      Developed with
      <span class="footer-icon">
        <svg class="footer-icon-heart" width="15px" height="15px">
          <use href="./img/sprite.svg#icon-heart"></use>
        </svg>
      </span>
      by
      <button type="button" data-modal-open class="footer-link">
        GoIT Students
      </button>
    </p>
  </div>
  <div class="backdrop-team is-hidden" data-modal>
    <div class="modal-team">
      <h2 class="modal-title-team">InTeam</h2>
      <button type="button" class="modal-btn-team" data-modal-close>
      <svg class="modal-btn-svg-team" width="15" height="15" >
        <use class="modal-btn-use-team" href="./img/sprite.svg#x-close"></use>
      </svg>
    </button> 
    <ul class="team-list"></ul>
    </div>
  </div>