<section class="support-ukr">
  <div class="container">
    <div class="support-container">
      <title class="support-title">Support Ukraine</title>
      <ul class="support-list support-list-js"></ul>
      <button class="support-btn support-btn-js">
        <svg width="22" height="22" class="btn-svg">
          <use href="./img/sprite.svg#down-indicator"></use>
        </svg>
      </button>
      <button class="support-btn-top support-btn-top-js">
        <svg width="22" height="22" class="btn-svg-top">
          <use href="./img/sprite.svg#down-indicator"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
