.categories {
  padding-top: 40px;
}

.categories_list {
  max-width: 335px;
  height: 228px;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  outline: 1px solid tomato;
}

.categories-list {
  scrollbar-width: 10px;
}

.category_list_element:not(:last-child) {
  margin-bottom: 24px;
}

.category_list_element {
  color: var(--light-theme-categories-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: 0.32px;
}

.category_list_element.chosen_category {
  color: var(--dump-bcg-color);
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .categories_list {
    max-width: 337px;
    height: 472px;
  }

  .category_list_element:not(:last-child) {
    margin-bottom: 32px;
  }

  .category_list_element {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.36px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .categories_list {
    max-width: 356px;
  }

  .category_list_element:not(:last-child) {
    margin-bottom: 32px;
  }

  .category_list_element {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.36px;
  }
}
