.top-books-ul {
  display: flex;
  flex-wrap: wrap;
}
.div-button {
  margin-top: 8px;
  margin-left: auto;
}

.book-card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 0.88;
  color: var(--light-theme-primary-text-color);
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.book-card-author {
  color: var(--light-theme-second-text-color);
  padding-top: 4px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.48px;
}

.top-books-image {
  display: block;
}
.top-books-category {
  margin-top: 40px;
  color: var(--light-theme-second-text-color);
  padding-bottom: 18px;
  font-size: 14px;

  font-weight: 400;
  line-height: 0.77;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.button-open-categories {
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.77;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

.top-books-list {
  display: flex;
  flex-wrap: wrap;
}
.top-book-card:nth-child(n + 2) {
  display: none;
}
.top-book-card {
  border-radius: 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .top-book-card:nth-child(-n + 3) {
    display: block;
  }

  .top-books-title {
    letter-spacing: -0.64px;
    text-transform: uppercase;
  }

  .top-books-author {
    line-height: 0.86;
    letter-spacing: -0.48px;
  }

  .div-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .top-book-card:nth-child(-n + 5) {
    display: block;
  }

  .top-books-image {
    transition: transform 250ms var(--transition-func),
      box-shadow 250ms var(--transition-func);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .top-books-image:is(:hover, :focus) {
    transform: scale(1.08);
    box-shadow: 0px 0px 11px -5px var(--light-theme-second-text-color);
  }
}
