body{
  min-height: 100vh;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop { 
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  visibility: visible;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  top: 12px;
  right: 12px;
  padding: 0;
  cursor: pointer;
}

.modal-close-png {
  width: 24px;
  height: 24px;
  stroke: #111;
}

.modal {
  position: absolute;
  width: 335px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  margin: 0 auto;
  border-radius: 18px;
  border: 2px solid #111;
  background-color: #202024;
  background: var(--light-theme-bcg-header);
  padding: 40px 22px;
  transform: translate(0);
  transition: .5s;
}

.modal-book-img {
  width: 287px;
  height: 408px;
  margin-bottom: 14px;
}
.modal-book-name {
  color: var(--light-theme-primary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}
.modal-book-autor {
  color: var(--light-theme-second-text-color);
  font-size: 12px;
  font-style: italic;
  line-height: 1.16;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}
.modal-book-info {
  color: var(--light-theme-primary-text-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 14px;
}
.modal-box-link {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.modal-link-svg{
  filter: grayscale(100%);
}

.dark-amazon {
  filter: brightness(0) invert(1);
}

.modal-add-btn {
  width: 211px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  padding: 14px 0px;
  color: var(--light-theme-primary-text-color);
  background-color: var(--light-theme-bcg-heade);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px #00000040, 0 4px 4px #00000040;
  text-shadow: 0 4px 4px #00000040;
}

.modal-remove-btn {
  width: 279px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  padding: 14px 0px;
  color: var(--light-theme-primary-text-color);
  background-color: var(--light-theme-bcg-heade);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px #00000040, 0 4px 4px #00000040;
  text-shadow: 0 4px 4px #00000040;
}

.modal-remove-text {
  width: 279px;
  padding: 8px 18px 0px;
  margin: 0px;
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  display: none;
  
}


@media screen and (min-width: 768px) {
  .modal {
      width: 579px;
      padding: 40px 40px;
    }

    .modal-close-btn{
      top: 24px;
      right: 24px;
    }

    .modal-close-png {
      width: 28px;
      height: 28px;
      stroke: #111;
    }

    .modal-book-img {
      width: 192px;
      height: 281px;
      margin-bottom: 40px;
      margin-right: 24px;
    }

    .modal-book-name {
      width: 279px;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: -0.96px;
      margin-bottom: 8px;
    }

    .modal-book-autor {
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: -0.56px;
      margin-bottom: 20px;
    }

    .modal-book-info {
      width: 279px;
      margin-bottom: 22px;
    }

    .modal-box-link {
      margin-bottom: 0;
    }

    .modal-card-item {
      display: flex;

    }

    .modal-add-btn {
      width: 100%;
      padding: 20px 22px;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: -0.18px;
    }

    .modal-remove-btn {
      width: 100%;
      padding: 20px 22px;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: -0.18px;
    }

    .modal-remove-text {
      width: 480px;
      padding: 8px 105px 0;
    }
}

@media screen and (min-width: 1440px){
  .modal-close-png:hover,
  .modal-close-png:focus{
    stroke: #4f2ee8;
  }

  .modal-add-btn:hover {
    background: #4F2EE8;
    color: #FFF;
  }
  
  .modal-remove-btn:hover {
    background: #4F2EE8;
    color: #FFF;
  }
}
