/* .shoplist-aside {
    display: none;
} */

/* @media screen and (min-width: 1440px) {
    .shoplist-wrapper-desc {
        display: flex;
        gap: 40px;
    }

    .shoplist-aside {
        display: block;
    }
} */

/**-------shopping list------------------*/

.shop-main-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;

    color: var(--light-theme-primary-text-color)
}

@media screen and (min-width: 768px) {
    .shop-main-title {
        font-size: 48px;
        line-height: 1.08;
    }
}

.shop-sub-main-title {
    color: var(--dump-bcg-color);
}

/**-------------------------*/

/**-------massage empty page------------------*/

.shop-text-backgr {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--light-theme-categories-text-color);
}

@media screen and (min-width: 768px) {
    .shop-text-backgr {
        margin-top: 140px;
        width: 349px;
        font-size: 18px;
        line-height: 1.33;
    }
}

@media screen and (min-width: 1440px) {
    .shop-text-backgr {
        margin-top: 129px;
    }
}
/**-------------------------*/

/**---------optimization img book with devices ------------*/



.shop-img-backgr {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/src/img/shopping-list/shoplist-mob@1x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 265px;
    height: 198px;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .shop-img-backgr {
        background-image: url('/src/img/shopping-list/shoplist-mob@2x.png');
    }
}

@media screen and (min-width: 768px) {
    .shop-img-backgr {
        margin-top: 20px;
        width: 322px;
        height: 241px;
        background-image: url('/src/img/shopping-list/shoplist-tabl@1x.png');
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .shop-img-backgr {
            background-image: url('/src/img/shopping-list/shoplist-tabl@2x.png');
        }
    }
}

@media screen and (min-width: 1440px) {

    .shop-img-backgr {
        background-image: url('/src/img/shopping-list/shoplist-desk@1x.png');
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .shop-img-backgr {
            background-image: url('/src/img/shopping-list/shoplist-tabl@2x.png');
        }
    }
}

/**-----------------------------------------------------*/

/* card style */
