@import './fonts.css';
@import './default.css';
@import './variables.css';
@import './containers.css';
@import './header.css';
@import './slider.css';
@import './shopping-list-section.css';
@import './footer.css';
@import './dark-theme.css';


.support-container {
  display: none;
}

.shopping-list {
  padding-top: 104px;
  padding-bottom: 40px;
}

.header-container {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 768px) {
  .shopping-list {
    padding-top: 112px;
  }
}

@media screen and (min-width: 1440px) {
  .support-container {
    display: block;
  }

  .shopping-list-container {
    display: flex;
    gap: 40px;
  }
}
