.shop-main-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;

  color: var(--light-theme-primary-text-color);
}

@media screen and (min-width: 768px) {
  .shop-main-title {
    font-size: 48px;
    line-height: 1.08;
  }
}

.shop-sub-main-title {
  color: var(--dump-bcg-color);
}

/**-------------------------*/

/**-------massage empty page------------------*/

.shop-text-backgr {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-theme-categories-text-color);
}

@media screen and (min-width: 768px) {
  .shop-text-backgr {
    margin-top: 140px;
    width: 349px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .shop-text-backgr {
    margin-top: 129px;
  }
  .shop-base-background {
    width: 996px;
  }
}

/**-------------------------*/
/* 
/**---------optimization img book with devices ------------*/

.wrapper-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop-img-backgr {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../img/shopping-list/shoplist-mob@1x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 265px;
  height: 198px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .shop-img-backgr {
    background-image: url('../img/shopping-list/shoplist-mob@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .shop-img-backgr {
    margin-top: 20px;
    width: 322px;
    height: 241px;
    background-image: url('../img/shopping-list/shoplist-tabl@1x.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .shop-img-backgr {
      background-image: url('../img/shopping-list/shoplist-tabl@2x.png');
    }
  }
}

@media screen and (min-width: 1440px) {
  .shop-img-backgr {
    background-image: url('../img/shopping-list/shoplist-desk@1x.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .shop-img-backgr {
      background-image: url('../img/shopping-list/shoplist-tabl@2x.png');
    }
  }
}

/**-----------------------------------------------------*/

/* card style */

.shop-list-books {
  margin-top: 40px;
}

.shop-item-book {
  position: relative;
  display: flex;
  padding: 14px;
  gap: 14px;
  width: 335px;
  /* margin-top: 40px; */
  background: var(--body-secondary-color);
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

.shop-item-book:not(:first-child) {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .shop-item-book {
    padding: 24px;
    gap: 24px;
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .shop-item-book {
    width: 996px;
  }
}

.shop-secondary-title {
  width: 114px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;

  color: var(--text-secondary-color);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .shop-secondary-title {
    width: 100%;
  }
}

/* .shop-info-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.shop-book-img {
  border-radius: 8px;
  min-width: 100px;
  height: 142px;
}

@media screen and (min-width: 768px) {
  .shop-book-img {
    min-width: 116px;
    height: 165px;
  }
}

.shop-category {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #b4afaf;

  margin-top: 4px;
}

.shop-desc {
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--text-secondary-color);
  max-height: 68px;
  width: 193px;
  overflow-y: scroll;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .shop-desc {
    max-height: 53px;
    width: 508px;
    margin-top: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .shop-desc {
    max-height: 54px;
    width: 808px;
  }
}

.shop-author-wrapper {
  display: flex;
  /* margin-top: 16px; */
  align-items: end;
  justify-content: space-between;
}
/* 
@media screen and (min-width: 768px) {
  .shop-author-wrapper {
    margin-top: 48px;
  }
} */

.shop-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.04em;

  color: #b4afaf;
}

.shop-platform-list {
  display: flex;
  align-items: end;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .shop-platform-list {
    gap: 16px;
  }
}

.shop-delete-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  outline: none;
  width: 28px;
  height: 28px;
  border-color: transparent;
  border-radius: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: var(--dump-bcg-color);
  background-position: center;
  background-image: url('/src/img/shopping-list/svg/delete-book.svg');
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-delete-btn:hover,
.shop-delete-btn:focus {
  background-color: var(--home-bcg-color);
}

@media screen and (min-width: 768px) {
  .shop-delete-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
    background-size: 18px 18px;
  }
}

.shop-link-platform {
  outline: 2px solid red;
  outline-offset: -2px;
}

.shop-link-amazon,
.shop-link-applebook,
.shop-link-bookshop {
  display: block;
  width: 32px;
  height: 11px;

  background-image: url('/src/img/shopping-list/svg/amazon.svg');
  background-repeat: no-repeat;
  background-size: 32px 11px;
  background-position: center;
  filter: grayscale(100%);
}

.shop-link-applebook {
  width: 16px;
  height: 16px;
  background-image: url('/src/img/shopping-list/svg/applebook.svg');
  background-size: 16px 16px;
}

.shop-link-bookshop {
  width: 16px;
  height: 16px;
  background-image: url('/src/img/shopping-list/svg/bookshop.svg');
  background-size: 16px 16px;
}

.amazon.svg {
  fill: var(--dark-theme-primary-text-color);
}

@media screen and (min-width: 768px) {
  .shop-link-amazon {
    width: 48px;
    height: 15px;
    background-size: 48px 15px;
  }

  .shop-link-applebook {
    width: 28px;
    height: 27px;
    background-size: 28px 27px;
  }

  .shop-link-bookshop {
    width: 32px;
    height: 30px;
    background-size: 32px 30px;
  }
}

.shop-link-amazon:hover,
.shop-link-amazon:focus,
.shop-link-applebook:hover,
.shop-link-applebook:focus,
.shop-link-bookshop:hover,
.shop-link-bookshop:focus {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
}
